@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poiret One', cursive;
  margin: 0;
  width: 100%;

  header {
    background-color: #62b5e5;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .home {
    color: #fff;
    background: url('../img/cover.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 20vh;

    .forms {
      border: 1px solid #fff;
    }

    .form {
      margin-bottom: 20px;
      margin-top: 20px;

      input {
        padding: 10px;
      }

      button {
        background-color: #addc91;
        color: #fff;
        font-size: 16px;
        padding: 10px;
      }
    }
  }

  .navBar {
    width: 100%;
    bottom: 0;
    position: relative;

    .navBarLinkBox {
      background-color: #282828;
      border: 1px solid #fff;
      box-sizing: border-box;
      font-size: 24px;
      float: left;
      padding: 20px;
      text-align: center;
      width: 25%;

      &:hover {
        background-color: #62b5e5 !important;
      }

      .nav-link {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .skillContainer {
    background-color: #ececec;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 50px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 100vh;

    .skill {
      background: #fff;
      box-sizing: border-box;
      float: left;
      margin-top: 20px;
      padding: 10px;
      text-align: center;
      width: 40%;

      p {
        color: #000;
      }

      &:hover {
        background-color: #282828;

        p {
          color: #fff;
        }
      }
    }
  }

  .track {
    text-align: center;
  }
}
