* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  height: 100vh;
  header {
    background-color: #62b5e5;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .home {
    color: #fff;
    background: url('../img/cover.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 20vh;

    .forms {
      border: 1px solid #fff;
    }

    .form {
      margin-bottom: 20px;
      margin-top: 20px;
      input {
        padding: 10px;
      }
      button {
        background-color: #addc91;
        color: #fff;
        font-size: 16px;
        padding: 10px;
      }
    }
  }
  .navBar {
    background-color: #62b5e5;
    bottom: 0;
    height: 130px;
    position: fixed;
    width: 100%;
    .navBarLinkBox {
      background-color: #282828;
      border: 1px solid #fff;
      box-sizing: border-box;
      float: left;
      height: 130px;
      width: 25%;
      .nav-link {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  .skillContainer {
    background-color: #ececec;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;

    .skill {
      background: #fff;
      box-sizing: border-box;
      float: left;
      margin-top: 20px;
      width: 40%;
    }
  }
}
